
<!DOCTYPE HTML>
<html>

<head>
	<title>Registration for Show Creator.EventOn</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Assistance Enroll Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tags -->
	<!-- Stylesheet -->
	<link href="{{url_for('static', filename='css/regstyle.css')}}" rel='stylesheet' type='text/css' />
	<link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

    <link rel="stylesheet" href="{{url_for('static', filename='css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
	 <style>
    .alert-error{
    padding:8px;
    background-color:#ffcccb;
    color:black;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar" style="margin-right: 0px">
    <div class="container">
      <a class="navbar-brand" href="/">Event<span>On.</span></a>
      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav nav ml-auto">
          <li class="nav-item"><a href="/#home-section" class="nav-link"><span>Home</span></a></li>
          <li class="nav-item"><a href="/#schedule-section" class="nav-link"><span>Events</span></a></li>
          <li class="nav-item"><a href="/#pricing-section" class="nav-link"><span>Register</span></a></li>
          <li class="nav-item"><a href="/#blog-section" class="nav-link"><span>Blog</span></a></li>
          <li class="nav-item"><a href="/#contact-section" class="nav-link"><span>Contact</span></a></li>
          <li class="nav-item cta"><a href="/profile" class="nav-link">Profile</a></li>

    </ul>

    </div>

  </div>

  </nav>
	<!--background-->
<br><br><br>
	<div class="bg-w3layouts-main">
		{% for message in get_flashed_messages() %}
  <div class="alert-error">{{message}}</div>
  {% endfor %}
<h2> welcome show creator!</h2>
		<h2>Fill out the form to enroll our service</h2><br>
		<div class="form-content-agileinfo">
			<form action="/reg2" method="post">
				<div class="main-divs-agileits-w3layouts">
					<div class="bottom-w3-agileits-space form-text1">
						<input type="text" name="username" placeholder="Full Name" required="">
					</div>
					<div class="bottom-w3-agileits-space form-text2">
						<input type="email" name="email" placeholder="Email" required=""
						oninvalid="this.setCustomValidity('Please enter valid Email id')"
					    oninput="this.setCustomValidity('')" />
					</div>
				</div>
				<div class="bottom-w3-agileits-space form-text1">
					<input type="text" name="mobile" placeholder="Mobile Number" pattern="[6789][0-9]{9}" required=""
					oninvalid="this.setCustomValidity('Please enter valid mobile number')"
					oninput="this.setCustomValidity('')" />
				</div>
				<div class="main-divs-agileits-w3layouts">
					<div class="bottom-w3-agileits-space form-text1">
						<input type="text" name="city" placeholder="City" required="">
					</div>
					<div class="bottom-w3-agileits-space form-text2">
						<input type="text" name="pin" placeholder="Pincode" pattern="[0-9]{6}" required=""
						oninvalid="this.setCustomValidity('Please enter valid Pincode')"
					    oninput="this.setCustomValidity('')" />
					</div>
				
				</div>
				<div class="containers">
					<h2 class="grey">IT'S <span class="grey2">PARTY</span></h2>
					<h2 class="grey">TIME <span class="grey2">!!</span></h2>
				</div><br>

					<div class="bottom-w3-agileits-space form-text1">
						<input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required="" 
						oninvalid="this.setCustomValidity('Password must contain 6 characters(UPPERCASE,LOWERCASE letter and NUMBER)')"
					    oninput="this.setCustomValidity('')" />

					</div>
					<div class="bottom-w3-agileits-space form-text1">
						<input type="password" name="confirmation" placeholder="Confirm Password" required="">
					</div>
				<input type="submit" value="Submit">
				<div class="clear"></div>
			</form>

		</div>
	</div><br><br>
  <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About EventOn.</h2>
			  <p>Creating a platform for people to get complete solution on organizing an event and provinding exposure for oranizers with resourses and also to ease the process of booking the ticket for large events</p>
			  <p>wish you a beutiful experience with EventOn</p>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="/#home-section"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
              <li><a href="/#schedule-section"><span class="icon-long-arrow-right mr-2"></span>Events</a></li>
              <li><a href="/#pricing-section"><span class="icon-long-arrow-right mr-2"></span>Register</a></li>
              <li><a href="/#blog-section"><span class="icon-long-arrow-right mr-2"></span>Blog</a></li>
                <li><a href="/#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
			</div>
          </div>

          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">EventOn Office. Bhatkal, Uttara Kannada, Karnataka, INDIA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 94492 19515</span></a></li>
	                <li><a href="/#contact-section"><span class="icon icon-envelope"></span><span class="text">eventon43@gmail.com</span></a></li>
	              </ul>
	            </div>
			</div>
          </div>
        </div>

      </div>

    </footer>
  <script src="{{ url_for('static' , filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/popper.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.waypoints.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.stellar.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/aos.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/jquery.animateNumber.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/scrollax.min.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/google-map.js')}}"></script>
  <script src="{{ url_for('static' , filename='js/main.js')}}"></script>
</body>

</html>